body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
  margin: 0;
}
header {
  background-color: #333333;
  display: flex;
  padding: 0px 6%;
  justify-content: space-between;
  align-items: center;
}
.top_right li {
  display: inline-block;
  padding: 0px 15px;
}
.top_right li a {
  color: white;
  text-decoration: none;
  font-size: 16pt;
}
.top_left {
  color: white;
  font-size: 48pt;
}
.category li {
  font-size: 16pt;
  display: inline;
  margin-left: 40px;
}
.categorybar {
  margin-top: 2%;
  margin-bottom: 2%;
}
.category li a {
  text-decoration: none;
  color: #333333;
  padding: 0px 5px;
  margin-top: 30%;
  margin-bottom: 30%;
}
.search_box {
  width: 20%;
  font-size: 12pt;
  color: grey;
  float: right;
  padding: 10px 15px;
  margin: 10px 50px;
  margin-top: 1.5%;
}
.container1 {
  background-color: #eeeeee;
  height: 400px;
  width: 100%;
}

.mask {
  margin-left: 30%;
  margin-top: 20%;
  margin-bottom: 22.5%;
}
.mid_text {
  font-size: 58pt;
  color: #333333;
  float: right;
  margin-right: 10%;
  padding-top: 100px;
}
.section1 {
  background-color: #eeeeee;
  width: 20%;
  float: left;
  padding-top: 2%;
}
.section2 {
  background-color: #eeeeee;
  width: 40%;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
}
.info {
  font-size: 16pt;
  color: #333333;

  width: 80%;
  margin-left: 5%;
  margin-bottom: 3.8%;
}
.deal {
  margin-left: 10%;
  color: #333333;
  font-size: 30pt;
  padding: 30px;
}
.deal::first-letter {
  font-size: 40pt;
}
.placeholder1 {
  height: 150px;
  width: 130px;
  float: left;
  margin: 10px;
}
.container2 {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: row;
  padding: 40px 0px;
  align-items: center;
  margin-left: 13%;
}
.fashion {
  margin-left: 10%;
  color: #333333;
  font-size: 30pt;
  padding: 30px;
}
.container3 {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  align-items: center;
  margin-left: 9%;
}
.box1 {
  height: 230px;
  width: 150px;
  text-align: center;
  margin: 5px;
  margin-right: 0.5%;
}
.box2 {
  height: 245px;
  width: 200px;
  background: #dbf3fa;
  text-align: center;
  margin: 0px 6% 0px 4%;
}
.placeholder2 {
  height: 200px;
  width: 180px;
  float: left;
  margin: 5px;
}
.items {
  font-size: 20pt;
  color: #333333;
}
.container4 {
  width: 80%;
  height: 160px;
  align-items: center;
  margin-left: 10.5%;
  padding: 1.5%;
}
.brands a {
  color: #333333;
  font-size: 14pt;
  text-decoration: none;
  line-height: 2.5rem;
  margin: 4px;
}
.container5 {
  width: 85%;
  height: 480px;
  background: #131a22;
  color: white;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  padding-bottom: 3%;

  align-items: center;
}
.heading {
  font-size: 18pt;
  padding-bottom: 8%;
  padding-top: 7%;
}
.box3 {
  height: 400px;
  width: 20%;
  margin: 20px 20px;
  text-align: left;
  padding-left: 50px;
}
.box4 {
  height: 400px;
  width: 50%;
  margin-top: -30px;
  text-align: left;
  padding-left: 50px;
}

.help-option {
  color: white;
  font-size: 16pt;
  line-height: 2.5rem;
  margin: 4px;
  text-decoration: none;
}
